<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Mobile-Challenge Suite" >
    <test name="IMBD-Mobile Test">
        <classes>
            <class name="runner.TestRunner" />
        </classes>
    </test>
    <listeners>
        <listener class-name="helper.TestNGListener" />
    </listeners>
</suite>
